*.dll
*.exe
*.lib
*.ilk
*.tlog
*.pdb
*.obj
*.idb
*.log

/cpp/UCLA/build
/cpp/UCLA/Debug
/cpp/UCLA/libUCLA/Debug
/cpp/UCLA/UCLA_Sender/Debug
/cpp/UCLA/UCLA_Receiver/Debug
/cpp/UCLA/Release
/cpp/UCLA/libUCLA/Release
/cpp/UCLA/UCLA_Sender/Release
/cpp/UCLA/UCLA_Receiver/Release
/cs/UCLA/libUCLA/bin
/cs/UCLA/libUCLA/obj
/cs/UCLA/UCLA_Sender/bin
/cs/UCLA/UCLA_Sender/obj
/cs/UCLA/UCLA_Receiver/bin
/cs/UCLA/UCLA_Receiver/obj
/java/libUCLA/nbproject/private/
/java/libUCLA/lib
/java/libUCLA/dist/
/java/libUCLA/build/
/java/UCLA_Receiver/nbproject/private/
/java/UCLA_Sender/nbproject/private/
/java/UCLA_Receiver/build/
/java/UCLA_Receiver/dist/
/java/UCLA_Sender/build/
/java/UCLA_Sender/dist/
/java/UCLA_Sender/nbproject/private/
/java/UCLA_Receiver/nbproject/private/
/java/UCLA_Receiver/build/
/java/UCLA_Sender/build/