*.dll
*.exe
*.lib
*.ilk
*.tlog
*.pdb
*.obj
*.idb
*.log

/cpp/UCLA/build
/cpp/UCLA/Debug
/cpp/UCLA/libUCLA/Debug
/cpp/UCLA/UCLA_Client/Debug
/cpp/UCLA/UCLA_Server/Debug
/cpp/UCLA/Release
/cpp/UCLA/libUCLA/Release
/cpp/UCLA/UCLA_Client/Release
/cpp/UCLA/UCLA_Server/Release
/cs/UCLA/libUCLA/bin
/cs/UCLA/libUCLA/obj
/cs/UCLA/UCLA_Client/bin
/cs/UCLA/UCLA_Client/obj
/cs/UCLA/UCLA_Server/bin
/cs/UCLA/UCLA_Server/obj
/java/libUCLA/nbproject/private/
/java/libUCLA/lib
/java/libUCLA/dist/
/java/libUCLA/build/
/java/UCLA_Server/nbproject/private/
/java/UCLA_Client/nbproject/private/
/java/UCLA_Server/build/
/java/UCLA_Server/dist/
/java/UCLA_Client/build/
/java/UCLA_Client/dist/
